extends layout

block content
  h1= title
  p Login page!
  .login_container
    form#login_form(
      action="/users/login"
      method="post"
    )
      .email
        input(
          name="email"
          type="text"
          placeholder="Email"
        )
      .password
        input(
          name="password"
          type="password"
          placeholder="Password"
        )
      .buttons
        input(
          name="submit"
          type="submit"
          )
